@model ArchidesArchitectureWeb.Useri

@{
    ViewBag.Title = "Details";
}
    <div class="container">
        <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <div class="row user-infos cyruxx">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                           <img src="@Url.Content(Model.Foto)" class="img-circle" alt="Alternate Text" width="80" height="80"/>
                                </div>
                                <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                    <img src="@Url.Content(Model.Foto)" class="img-circle" alt="Alternate Text" width="50" height="50" />
                                </div>
                                <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                    <strong>Information</strong><br>
                                    <dl>
                                        <dt>Role:</dt>
                                        <dt>@Html.DisplayFor(model => model.Roli.Roli1):</dt>
                                        <dd>Name:</dd>
                                        <dt>@Html.DisplayFor(model => model.Emri):</dt>
                                        <dd>Surname:</dd>
                                        <dt>@Html.DisplayFor(model => model.Mbiemri)</dt>     
                                        <dt>Gender:</dt>
                                        <dd>@Html.DisplayFor(model => model.Gjinia)</dd>
                                        <dt>Birthplace:</dt>
                                        <dt>@Html.DisplayFor(model => model.Vendlindja)</dt>
                                        <dd>Birthdate:</dd>
                                        <dt>@Html.DisplayFor(model => model.Datelindja)</dt>                         
                                        <dt>Email:</dt>
                                        <dd>@Html.DisplayFor(model => model.Email)</dd>
                                        <dt>Telefoni:</dt>
                                        <dd>@Html.DisplayFor(model => model.Telefoni)</dd>
                                        <dt>Username:</dt>
                                        <dd>@Html.DisplayFor(model => model.Username)</dd>
                                        <dt>Description:</dt>
                                        <dd>@Html.DisplayFor(model => model.Pershkrimi)</dd>
                                        @*<dt>@Html.DisplayNameFor(model => model.PergaditjaProfesionale)</dt>
                                        <dd>@Html.DisplayFor(model => model.PergaditjaProfesionale)</dd>*@
                                    </dl>
                                </div>
                                <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                    <strong>Information</strong><br>
                                    <table class="table table-user-information">
                                        <tbody>                                         
                                            <tr>
                                                <td>Role:</td>
                                                <td>@Html.DisplayFor(model => model.Roli.Roli1)</td>
                                            </tr>
                                            <tr>
                                                <td>Name:</td>
                                                <td>@Html.DisplayFor(model => model.Emri)</td>
                                            </tr>
                                            <tr>
                                                <td>Surname:</td>
                                                <td>@Html.DisplayFor(model => model.Mbiemri)</td>
                                            </tr>
                                            <tr>
                                                <td>Gender:</td>
                                                <td>@Html.DisplayFor(model => model.Gjinia)</td>
                                            </tr>
                                            <tr>
                                                <td>Birthplace:</td>
                                                <td>@Html.DisplayFor(model => model.Vendlindja)</td>
                                            </tr>
                                            <tr>
                                                <td>Birthdate:</td>
                                                <td>@Html.DisplayFor(model => model.Datelindja)</td>
                                            </tr>
                                            <tr>
                                                <td>Email:</td>
                                                <td>@Html.DisplayFor(model => model.Email)</td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number:</td>
                                                <td>@Html.DisplayFor(model => model.Telefoni)</td>
                                            </tr>
                                            <tr>
                                                <td>Username:</td>
                                                <td>@Html.DisplayFor(model => model.Username)</td>
                                            </tr>
                                            <tr>
                                                <td>Description:</td>
                                                <td>@Html.DisplayFor(model => model.Pershkrimi)</td>
                                            </tr>
                                            @*<tr>
                                                <td>@Html.DisplayNameFor(model => model.PergaditjaProfesionale)</td>
                                                <td>@Html.DisplayFor(model => model.PergaditjaProfesionale)</td>
                                            </tr>*@
                                            @*<tr>
                                                <td>@Html.DisplayNameFor(model => model.Password)</td>
                                                <td>@Html.DisplayFor(model => model.Password)</td>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                  
                    </div>
                </div>
            </div>           
            </div>
        </div>
            @Html.ActionLink("Back to List", "Index")
