@model IEnumerable<ArchidesArchitectureWeb.Useri>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Website CSS style -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/cardOfUsers.css" rel="stylesheet" />
</head>
<body>

    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4" id="#row_@item.UserID">
            <div class="card hovercard">
                <div class="row">
                    <div class="cardheader">
                    </div>
                    <div class="avatar">
                        <img src="@Url.Content(item.Foto)" width="80px" height="80px" alt="User Photos" class="img-circle" />
                    </div>
                    <div class="info">
                        <div class="title">
                            <label for="name" class="cols-sm-2 control-label">
                                @Html.DisplayFor(modelItem => item.Emri)
                            </label>
                            <label for="surname" class="cols-sm-2 control-label">
                                @Html.DisplayFor(modelItem => item.Mbiemri)
                            </label>
                        </div>
                        <article>
                            <div class="desc"><strong>@Html.DisplayFor(modelItem => item.Pershkrimi)</strong></div>
                            <div class="desc">@Html.DisplayNameFor(model => model.Gjinia): @Html.DisplayFor(modelItem => item.Gjinia)</div>
                            <div class="desc">@Html.DisplayNameFor(model => model.Vendlindja): @Html.DisplayFor(modelItem => item.Vendlindja)</div>
                            <div class="desc">@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(modelItem => item.Email)</div>
                        </article>
                    </div>
                </div>
              
                <div class="panel-footer">
                   
                          
                        @using (Html.BeginForm("Delete", "Useri", new { id = item.UserID }))
                        {
                            <input class="btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to Delete: @item.Emri @item.Mbiemri')" />                          
                        }      
                    @Html.ActionLink("More Details", "Details", new { id = item.UserID })

                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID })
         
                </div>
            </div>
        </div>
    }


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>


