@model ArchidesArchitectureWeb.ProjektiUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjektiUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projekti.Titulli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projekti.Titulli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Useri.Emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Useri.Emri)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjektiUserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
