@model IEnumerable<ArchidesArchitectureWeb.Projekti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lokacioni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Madhesia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statusi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pershkrimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Useri)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lokacioni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Viti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Madhesia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statusi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pershkrimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoria.Kategoria1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Useri.Emri)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjektiID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjektiID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjektiID })
        </td>
    </tr>
}

</table>
