
@if (Session["userID"] == null)
{
    Response.Redirect("~/Login/UserIndex");
}
else
{
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">
                    <img src="~/Logo/archideslogo.png" width="30" height="30" alt="">
                </a>
            </div>
          

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Archides Web", "Index", "Home")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home") </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Here<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li>@Html.ActionLink("Projekti", "Index", "Projekti")</li>                       
                            <li>@Html.ActionLink("Useri", "Index", "Useri")</li>
                            <li>@Html.ActionLink("Kategoria", "Index", "Kategoria")</li>
                            <li role="separator" class="divider"></li>
                            <li> @Html.ActionLink("Roli", "Index", "Roli")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Lajmi", "Index", "Lajmi")</li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    @*<li>
                        <a class="navbar-brand" href="~/Home/Index">
                            <img src="@Url.Content((string)Session["foto"])" alt="Alternate Text" class="img-circle" width="45" height="45" />
                        </a>
                    </li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="@Url.Content((string)Session["foto"])" alt="Alternate Text" class="img-circle" width="45" height="45" />
@Session["username"]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Profili", "UserDetail", "Login")</li>
                            <li role="separator" class="divider"></li>
                            <li> @Html.ActionLink("Edit profile", "Edit", "Useri")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>                                                                                                                                                                                                                 
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Archides Web</p>
            </footer>
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
    </html>
}